# ============================
# AWS S3
# ============================
AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# File path on the host machine
AWS_SHARED_CREDENTIALS_FILE=${HOME}/.aws/credentials

# File path inside the container
AWS_SHARED_CREDENTIALS_FILE_CONTAINER=/.aws/credentials

# ============================
# GCP Storage
# ============================
GCP_PROJECT_ID=

# File path on the host machine
GOOGLE_APPLICATION_CREDENTIALS=/gcp-credentials.json

# File path inside the container
GOOGLE_APPLICATION_CREDENTIALS_CONTAINER=/gcp-credentials.json

# ============================
# Spring Configuration
# ============================
SPRING_APPLICATION_NAME=extractorservice
SERVER_PORT=8080

PROVIDER_IMPL=AWS   # or GCP

DESTINATION_BUCKET=your-destination-bucket-name
SHARE_LINK_MAX_EXPIRATION_TIME=604800 # in seconds (7 days here)

# =========================
# Docker-only (optional overrides)
# =========================
IMAGE_NAME=ria2-extractor-service:latest
HOST_PORT=8080

# MQTT
MQTT_ENABLED=true
MQTT_BROKER_URL=tcp://localhost:1883
MQTT_NAMESPACE=stack1
MQTT_SERVICE_NAME=extract
MQTT_CLIENT_ID=
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_QOS=1